html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: linear-gradient(rgb(243, 78, 78, 0.6), rgb(247, 105, 164, 0.6));
}

body::-webkit-scrollbar {
  background-color: rgb(247, 105, 164, 0.6);
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 51, 51);
  border-radius: 10px;
}

* {
  box-sizing: border-box;
}
