#container{
    width: 90%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('./flag-on-world-map.jpg');
    flex: 1;
}
header{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:0.3rem;
    padding-bottom:0.3rem;
    background-color: rgb(226, 226, 226);
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
    margin-left: 20rem;
    border-radius: 30px;
}
a{
    color:rgb(78, 78, 78);
}
#campo{
    background-color: rgb(88, 139, 184);
    width:31.25rem;
    height: 5rem;
    display: flex;
    margin: 2rem;
    justify-content: center;
    align-items: center;
}
#lista{
    display: grid;
    align-items: center;
    grid-template-columns: 150px 150px 150px 150px 150px 150px;
    border:1px solid black;
    background-color: rgb(226, 226, 226);
    width: 56.25rem;
    margin-left:12.5rem;
}
.flag{
    width:7.5rem;
    height:3.75rem;
}
.titulo{
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 0.3125rem;
}
.ordenar{
    display: flex;
    margin-left: 0.9rem;
    align-items: center;
    justify-content: center;
    width:2.5rem;
    cursor: pointer;
}
.ordenar:hover{
    opacity: .5;
  }
.data{
    margin-right: 0.3125rem;
}

.loadingAndError{
    font-size: 2rem;
    text-align: center;
}

.lae {
  background-color: rgb(226, 226, 226);
  padding:0.5rem;
  border-radius: 20px; 
}
@media only screen and (max-width: 450px){
    #lista{
        align-items: center;
        justify-content: center;
        grid-template-columns: 75px 75px 75px 75px 75px 75px;
        max-width: 450px;
        margin-left:0;
    }
    header{
        margin-left:0;
        width:450px;
    }
    .flag{
        width:60px;
        height:30px;
    }
    .data{
        font-size: 70%;
    }
    .titulo{
        display: flex;
        font-size: 70%;
        margin-left:2px;
    }
    .ordenar{
        width:8px;
        font-size: 70%;
        height:8px;
        margin-left: 2px;
    }
}
@media only screen and (min-width:451px) and (max-width: 935px){
    #lista{
        align-items: center;
        justify-content: center;
        grid-template-columns: 157px 150px 152px 152px 152px 140px;
        width: 920px;
        margin-left:3px;
    }
    header{
        width:920px;
        margin-left: 0;
    }
    .titulo{
        display: flex;
        margin-left:5px;
        font-size: 120%;
    }
    .flag{
        width:130px;
        height:70px;
    }
    .data{
        font-size: 120%;
    }
    .ordenar{
        width:20px;
        font-size: 70%;
        height:20px;
        margin-left: 2px;
    }
}